@model SicariosSA.ViewModels.DialogueTasksGapsViewModel

@{ ViewData["Title"] = "Dialog do uzupełnienia"; }

@if (ViewBag.Standard == true)
{
    <center>
        <form asp-action="DialogueTaskGaps" method="post">
            @foreach (var task in Model.DialogueTaskGaps)
            {
                <div class="container box-color">
                    <div class="row border">
                        <div class="col-sm-12 border">
                            <h4>@task.TaskName</h4>
                        </div>
                        <div class="col-sm-12 border">
                            <h4>@task.TextToFill</h4>
                        </div>
                        <div class="col-sm-12 border">
                            <h5>Wpisz odpowiedzi:</h5>
                        </div>
                        @for (int i = 1; i <= @task.AnswerNumber; i++)
                        {
                            <div class="col-sm-6">
                                Luka @i
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="answer" name="answer" />
                                <br />
                            </div>
                        }
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Sprawdź odpowiedź" class="btn btn-primary" />
            </div>
        </form>
    </center> }
else if (ViewBag.False == false)
{
    <center>
        <form asp-action="RandomTask" method="post">
            <div class="alert alert-danger" role="alert">
                <b>Zła odpowiedź!</b>
            </div>
            @foreach (var task in Model.DialogueTaskGaps)
            {
                <div class="container box-color">
                    <div class="row border">
                        <div class="col-sm-12 border">
                            <h4>@task.TaskName</h4>
                        </div>
                        <div class="col-sm-12 border">
                            <h4>@task.TextToFill</h4>
                        </div>
                        <div class="col-sm-12 border">
                            <h4>Poprawne odpowiedzi</h4>
                        </div>
                        @foreach (var taskAnswer in task.CorrectAnswers)
                        {
                            <div class="col-sm-4 border border-secondary">
                                <h6>@taskAnswer.CorrectAnswer</h6>
                                <h6>@taskAnswer.CorrectAnswerPl</h6>
                            </div>
                        }
                        <div class="col-sm-12 border">
                            <h5><b>Wytłumaczenie</b></h5>
                            <h6>@task.Explanation</h6>
                        </div>
                    </div>
                  </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Kolejne zadanie" class="btn btn-primary" />
            </div>
        </form>
    </center> }
else if (ViewBag.Success == true)
{
    <center>
        <form asp-action="RandomTask" method="post">
            <div class="alert alert-success" role="alert">
                <b>Poprawna odpowiedź!</b>
            </div>
            @foreach (var task in Model.DialogueTaskGaps)
            {
                <div class="container box-color">
                    <div class="row border">
                        <div class="col-sm-12 border">
                            <h4>@task.TaskName</h4>
                        </div>
                        <div class="col-sm-12 border">
                            <h4>@task.TextToFill</h4>
                        </div>
                        <div class="col-sm-12 border">
                            <h4>Poprawne odpowiedzi</h4>
                        </div>
                        @foreach (var taskAnswer in task.CorrectAnswers)
                        {
                            <div class="col-sm-4 border border-secondary">
                                <h6>@taskAnswer.CorrectAnswer</h6>
                                <h6>@taskAnswer.CorrectAnswerPl</h6>
                            </div>
                        }
                        <div class="col-sm-12 border">
                            <h5><b>Wytłumaczenie</b></h5>
                            <h6>@task.Explanation</h6>
                        </div>
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Kolejne zadanie" class="btn btn-primary" />
            </div>
        </form>
    </center>
}