@model SicariosSA.ViewModels.TasksABCViewModel
@{
    ViewData["Title"] = "Strona główna";
}

@if (ViewBag.Standard == true)
{
    <center>
        <h2>Egzamin 8 klasisty - Angielski</h2>
        <form asp-action="Index" method="post">
            @foreach (var task in Model.TaskABC)
            {
                <div class="container">
                    <div class="row border">
                        <div class="col-sm-12 border">
                            <h4><b>Zadanie</b></h4>
                            <h5>@task.Question</h5>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>A</b></h5>
                            <h6><input type="checkbox" name="answer" value="@task.Option1" onclick="MutExChkList(this);" /> @task.Option1</h6>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>B</b></h5>
                            <h6><input type="checkbox" name="answer" value="@task.Option2" onclick="MutExChkList(this);" /> @task.Option2</h6>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>C</b></h5>
                            <h6><input type="checkbox" name="answer" value="@task.Option3" onclick="MutExChkList(this);" /> @task.Option3</h6>
                        </div>
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Sprawdź odpowiedź" class="btn btn-primary" />
            </div>
        </form>
    </center>
}
else if (ViewBag.False == false)
{
<center>
    <h2>Egzamin 8 klasisty - Angielski</h2>
    <form asp-action="RandomTask" method="post">
        <div class="alert alert-danger" role="alert">
            <b>Zła odpowiedź!</b>
        </div>
        @foreach (var task in Model.TaskABC)
        {
            <div class="container">
                <div class="row align-items-start border">
                    <div class="col-sm-12 border">
                        <h4><b>Zadanie</b></h4>
                        <h5>@task.Question</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5><b>A</b></h5>
                            <h6>@task.Option1</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>APL</b></h5>
                            <h6>@task.Option1Pl</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>B</b></h5>
                            <h6>@task.Option2</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>BPL</b></h5>
                            <h6>@task.Option2Pl</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>C</b></h5>
                            <h6>@task.Option3</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>CPL</b></h5>
                            <h6>@task.Option3Pl</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 border">
                        <h5><b>Wytłumaczenie</b></h5>
                        <h6>@task.Explanation</h6>
                    </div>
                </div>
            </div>
        }
        <br />
        <div class="form-group">
            <input type="submit" value="Kolejne zadanie" class="btn btn-primary" />
        </div>
    </form>
</center>
}
else if (ViewBag.Success == true)
{
<center>
    <h2>Egzamin 8 klasisty - Angielski</h2>
    <form asp-action="RandomTask" method="post">
        <div class="alert alert-success" role="alert">
            <b>Poprawna odpowiedź!</b>
        </div>
        @foreach (var task in Model.TaskABC)
        {
            <div class="container">
                <div class="row align-items-start border">
                    <div class="col-sm-12 border">
                        <h4><b>Zadanie</b></h4>
                        <h5>@task.Question</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5><b>A</b></h5>
                            <h6>@task.Option1</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>APL</b></h5>
                            <h6>@task.Option1Pl</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>B</b></h5>
                            <h6>@task.Option2</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>BPL</b></h5>
                            <h6>@task.Option2Pl</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>C</b></h5>
                            <h6>@task.Option3</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>CPL</b></h5>
                            <h6>@task.Option3Pl</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 border">
                        <h5><b>Wytłumaczenie</b></h5>
                        <h6>@task.Explanation</h6>
                    </div>
                </div>
            </div>
        }
        <br />
        <div class="form-group">
            <input type="submit" value="Kolejne zadanie" class="btn btn-primary" />
        </div>
    </form>
</center>
}

<script type="text/javascript">
    function MutExChkList(chk) {
        var chkList = chk.parentNode.parentNode.parentNode;
        var chks = chkList.getElementsByTagName("input");
        for (var i = 0; i < chks.length; i++) {
            if (chks[i] != chk && chk.checked) {
                chks[i].checked = false;
            }
        }
    }
</script>