@model SicariosSA.ViewModels.TasksGapsViewModel
@{
    ViewData["Title"] = "Zadanie z lukami";
}

@if (ViewBag.Standard == true)
{
    <center>
        <form asp-action="TaskGaps" method="post">
            @foreach (var task in Model.TaskGaps)
            {
                <div class="container box-color">
                    <div class="row border">
                        <div class="col-sm-12 border textp">
                            <h4>@task.TaskName</h4>
                        </div>
                        <div class="col-sm-12 border textp">
                            <h5>@task.TextToFill</h5>
                        </div>
                        <div class="col-sm-12 border textp">
                            <h5>Wprowadź numer odpowiedzi w danym polu. Resztę miejsc zostaw puste.</h5>
                        </div>
                        @foreach (var taskAnswer in task.PossibleAnswer)
                        {
                            <div class="col-sm-4 textp">
                                <input type="text" id="answer" name="answer" />
                                <input type="hidden" id="answerText" name="answerText" value="@taskAnswer.PossibleAnswer">
                                <br />
                                <h6>@taskAnswer.PossibleAnswer</h6>
                            </div>
                        }
                    </div>
                </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Sprawdź odpowiedź" class="btn btn-primary" />
            </div>
        </form>
    </center>
}
else if (ViewBag.False == false)
{
    <center>
        <form asp-action="RandomTask" method="post">
            <div class="alert alert-danger" role="alert">
                <b>Zła odpowiedź!</b>
            </div>
            @{
                int flag = 0;
                //int flag2 = 0;
                //int flag3 = 0;
                foreach (var task in Model.TaskGaps)
                {
                    <div class="container box-color">
                        <div class="row align-items-start border">
                            <div class="col-sm-12 border textp">
                                <h4>@task.TaskName</h4>
                            </div>
                            <div class="col-sm-12 border textp">
                                <h5>@task.TextToFill</h5>
                            </div>
                            <div class="col-sm-12 border textp">
                                <h5>Twoje odpowiedzi:</h5>
                            </div>
                            @foreach (var taskAnswer in task.PossibleAnswer)
                            {
                                /*
                                /////
                                ///Do przemyślenias
                                /////
                                //Dodać odpowiednio count tutaj do ilości odpowiedzi
                                if(flag > 2)
                                {
                                    break;
                                }
                                var x = @ViewBag.correctAnswers[flag];
                                if (x.Number == @ViewBag.AnswerG[flag])
                                {
                                    flag++;
                                    <div class="col-sm-4 border textp">
                                        <h6 class="text-success">@x.Number @taskAnswer.PossibleAnswer</h6>
                                    </div>    
                                }

                                flag2++;  
                                */

                            }
                            @{flag = 0; }
                            <div class="col-sm-12 border textp">
                                <h5>Odpowiedzi po polsku::</h5>
                            </div>
                            @foreach (var taskAnswer in task.PossibleAnswer)
                            {
                                flag++;
                                <div class="col-sm-4 border textp">
                                    <h6>@flag @taskAnswer.PossibleAnswer</h6>
                                    <h6>@taskAnswer.PossibleAnswerPl</h6>
                                </div>
                            }
                            <div class="col-sm-12 border textp">
                                <h5><b>Wytłumaczenie</b></h5>
                                <h6>@task.Explanation</h6>
                            </div>
                        </div>
                    </div>
                }
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Kolejne zadanie" class="btn btn-primary" />
            </div>
        </form>
    </center>
}
else if (ViewBag.Success == true)
{
    <center>
        <form asp-action="RandomTask" method="post">
            <div class="alert alert-success" role="alert">
                <b>Poprawna odpowiedź!</b>
            </div>
            @{
                int flag = 0;
                //int flag2 = 0;
                //int flag3 = 0;
                foreach (var task in Model.TaskGaps)
                {
                    <div class="container box-color">
                        <div class="row align-items-start border">
                            <div class="col-sm-12 border textp">
                                <h4>@task.TaskName</h4>
                            </div>
                            <div class="col-sm-12 border textp">
                                <h5>@task.TextToFill</h5>
                            </div>
                            <div class="col-sm-12 border textp">
                                <h5>Twoje odpowiedzi:</h5>
                            </div>
                            @foreach (var taskAnswer in task.PossibleAnswer)
                            {
                                /*
                                /////
                                ///Do przemyślenias
                                /////
                                //Dodać odpowiednio count tutaj do ilości odpowiedzi
                                if(flag > 2)
                                {
                                    break;
                                }
                                var x = @ViewBag.correctAnswers[flag];
                                if (x.Number == @ViewBag.AnswerG[flag])
                                {
                                    flag++;
                                    <div class="col-sm-4 border textp">
                                        <h6 class="text-success">@x.Number @taskAnswer.PossibleAnswer</h6>
                                    </div>    
                                }

                                flag2++;  
                                */

                            }
                            @{flag = 0;}
                            <div class="col-sm-12 border textp">
                                <h5>Odpowiedzi po polsku::</h5>
                            </div>
                            @foreach (var taskAnswer in task.PossibleAnswer)
                            {
                                flag++;
                                <div class="col-sm-4 border textp">
                                    <h6>@flag @taskAnswer.PossibleAnswer</h6>
                                    <h6>@taskAnswer.PossibleAnswerPl</h6>
                                </div>
                            }
                            <div class="col-sm-12 border textp">
                                <h5><b>Wytłumaczenie</b></h5>
                                <h6>@task.Explanation</h6>
                            </div>
                        </div>
                    </div>
                }
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Kolejne zadanie" class="btn btn-primary" />
            </div>
        </form>
    </center>
}
